ipykernel
langchain_community
tiktoken
langchainhub
chromadb
langchain
langgraph
tavily-python
python-dotenv
google-generativeai
langchain-groq
langchain-google-genai
langchain-nomic
langchain-text-splitters
nomic
wikipedia
langchain_huggingface
google-search-results
faiss-cpu
sentence-transformers
